@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root{
    --light-background: #B9F3ED;
    --light-details:#157A6E;
    --light: #F7FFF7;
    --dark-background: #062320;
    --dark:#0C4540;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
    min-height: 100vh;
    width: 100%;
    background-color: var(--light-background);
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}
.containerIaGenerator{
    padding: 0.2rem 0.5rem;
    width: 40rem;
    min-height: 20rem;
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}
.headerGenerator{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    min-height: 10%;
}
.tittleHeader{
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.logoGenerate{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-details);
    color: var(--light);
    border-radius: 0.4rem;
}
.colorMode{
    width: 2rem;
    height: 2rem;
    font-size: 1.3rem;
    border-radius: 50%;
    border: none;
    background-color: var(--light-background);
    color: var(--dark);
    text-align: center;
    cursor: pointer;
    transition: 0.4s ease;
}
.colorMode:hover{
    background-color: var(--light-details);
    color: var(--light-background);
}
.messageUserDiv{
    width: 100%;
    height: 10rem;
    background-color: var(--light-background);
    border-radius: 0.5rem;
    display: flex;
    
   
}
.messageUserDiv textarea{
    width: 90%;
    height: 100%;
    border-radius: 0.5rem;
    border: none;
    padding: 0.5rem;
    outline: none;
    resize: none;
  background-color: transparent;
}
.button-dice{
    width: 10%;
    display: flex;
    padding: 0.3rem;
    justify-content: center;
    align-items: end;
}
.messageUserDiv button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: none;
    background-color: var(--light-details);
    color: var(--light);
    transition: 0.3s ease-in;
    cursor: pointer;

}
.messageUserDiv button:hover{
    background-color: var(--dark);
}
.buttonsGenerator{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
}
.selectorsGenerator{
    display: flex;
    justify-content: space-around;
    width: 70%;
}
.selectorsGenerator select{
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    background-color: var(--light-background);
}
.selectorsGenerator option{
    background-color: #fff;
}
.buttonGenerator button{
    background-color: var(--light-details);
    color: var(--light);
    width: 6rem;
    height: 2rem;
    border-radius: 0.3rem;
    border: none;
    cursor: pointer;
    transition: 0.4s ease-in;
}
.buttonGenerator button:hover{
    background-color: #157a6ecf;
}
.container-images{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0.5rem;
}
.images{
    background-color: lightslategray;
    border-radius: 0.3rem;
    overflow: hidden;
    height: 8rem;
    width: fit-content;
    
}
.images img{
    width: 100%;
    height: 100%;
}
@media (max-width:700px){
    .container-images{
        grid-template-columns: repeat(3,1fr);
    }
    .containerIaGenerator{
        width: 30rem;
    }
    .headerGenerator h1{
        font-size: 1.5rem;
    }
    .buttonsGenerator{
        flex-direction: column;
        gap: 0.5rem;
    }
    .selectorsGenerator{
        width: 100%;
    }
}
@media (max-width:500px){
     .container-images{
        grid-template-columns: repeat(2,1fr);
    }
    .images{
        height: 7rem;
    }
    .containerIaGenerator{
        width: 20rem;
    }
    .selectorsGenerator{
        flex-wrap: wrap;
       gap: 0.5rem;
       justify-content: left;
    }
    .headerGenerator h1{
        font-size: 1.2rem;
    }
    .messageUserDiv textarea{
        width: 80%;
    }
    .button-dice{
        width: 20%;
        justify-content: end;
    }
}